body {
    font-size: 28px;
    font-family: Lato, Ariel, sans-serif !important;
}

.reveal {
    font-size: 28px;
    overflow-y: scroll;
    font-family: Lato, Ariel, sans-serif !important;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal pre {
    box-shadow: none;
}

.src {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 20px 20px 20px;
}

.example {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 20px 20px 20px;
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}


.left3 {
    width: 32%;
    float: left;
}

.center3 {
    display: inline-block;
    width: 32%;
}

.right3 {
    width: 32%;
    float: right;
}
